name: "electric_quickstart"

services:
  postgres:
    image: docker.io/postgres:16-alpine
    environment:
      POSTGRES_DB: electric
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "54321:5432"
    tmpfs:
      - /var/lib/postgresql/data
      - /tmp
    command:
      - -c
      - listen_addresses=*
      - -c
      - wal_level=logical
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  electric:
    image: docker.io/electricsql/electric:latest
    environment:
      DATABASE_URL: postgresql://neondb_owner:npg_6JnAsZ5VGOdw@ep-polished-paper-agdghdpo-pooler.c-2.eu-central-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
      # Not suitable for production. Only use insecure mode in development or if you've otherwise secured the Electric API.
      # See https://electric-sql.com/docs/guides/security
      ELECTRIC_INSECURE: true
      ELECTRIC_FEATURE_FLAGS: allow_subqueries
    ports:
      - "3001:3000"
    depends_on:
      postgres:
        condition: service_healthy
